[submodule "VideoTagger/vendor/nativefiledialog-extended"]
	path = VideoTagger/vendor/nativefiledialog-extended
	url = https://github.com/ScriptExec/nativefiledialog-extended
[submodule "VideoTagger/vendor/nlohmann"]
	path = VideoTagger/vendor/nlohmann
	url = https://github.com/nlohmann/json
[submodule "VideoTagger/vendor/ImGuizmo"]
	path = VideoTagger/vendor/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "VideoTagger/vendor/fmt"]
	path = VideoTagger/vendor/fmt
	url = https://github.com/fmtlib/fmt
[submodule "VideoTagger/vendor/ImGui"]
	path = VideoTagger/vendor/ImGui
	url = https://github.com/ScriptExec/imgui
	branch = docking
[submodule "VideoTagger/vendor/utf8"]
	path = VideoTagger/vendor/utf8
	url = https://github.com/sheredom/utf8.h.git
[submodule "docs/vendor/doxygen-awesome-css"]
	path = docs/vendor/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
